.projectsCont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 25px;
    grid-row-gap: 25px;
    max-width: 80%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.projectImg img {
    max-width: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.projectImg {
    box-shadow: 2px 2px 6px #FFB800;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.projectImg:hover {
    opacity: 0.7;
}

.projectImg div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.projectImg:hover>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: fade-in-up 0.5s ease-in-out forwards;
}

.button {
    display: inline-block;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.projectImg div p {
    font-size: 24px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .projectsCont {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .projectsCont {
        grid-template-columns: repeat(1, 1fr);
    }
}