.home {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("./fondo6.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    color: #FFB800;
    padding: 10rem;
    height: 100vh;
    font-size: 0.8vw;
}

.homeContainer h1 {
    font-style: italic;
}

.homeContainer h2 {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid rgb(136, 185, 231);
    white-space: nowrap;
    font-family: 'Press Start 2P', cursive;
    color: rgb(136, 185, 231);
    letter-spacing: .15em;
    font-size: 1.8vw;
    word-wrap: break-word;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(136, 185, 231);
    }
}

.downloadCv {
    display: block !important;
}

@media (max-width: 768px) {
    .homeContainer h1 {
        font-size: 5vw;
    }

    .homeContainer h2 {
        font-size: 3vw;
    }

    .home {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("./fondo6.jpg");
        height: 60vh;
    }
}