.navBar {
    background-color: #0a192f;
    height: 64px;
    z-index: 1;
}

.nav-link.active {
    color: #FFB800 !important;
}

.btnNavActive {
    color: white;
    text-decoration: none;
}

.btnNavActive:hover {
    color: red;
}

li {
    list-style: none;
}

@media (max-width: 991px) {

    .btnNavBar {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        width: auto;
        font-size: 28px;
        line-height: 70px;
    }

    .navbar-toggler {
        margin: 10px;
    }

    .fontHamburguer {
        background-color: rgba(0, 0, 0, 0.7);
        padding-bottom: 50px;
        max-width: 100% !important;
    }

    .navbar-toggler {
        padding: 1px 1px !;
    }

    .navBar {
        height: 0px;
        --bs-navbar-padding-y: 0rem !important;
    }

    .nav-link {
        color: #FFB800 !important;
    }

    .btnNavActive {
        color: white;
    }

    .btnNavBar {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        width: auto;
        font-size: 25px;
        font-weight: bolder;
        line-height: 70px;
    }
}